@import url(//fonts.googleapis.com/css?family=Economica:400);
@import url(//fonts.googleapis.com/css?family=Economica:700);
@import url(//fonts.googleapis.com/css?family=Open+Sans:300);
@import url(//fonts.googleapis.com/css?family=Open+Sans:400);
@import url(//fonts.googleapis.com/css?family=Open+Sans:600);
@import url(//fonts.googleapis.com/css?family=Open+Sans:700);
/*@import url(//fonts.googleapis.com/css?family=Dosis);*/

html {
  width: 100%;
}

* {
  -webkit-text-size-adjust: none;
}

body {
  position: relative;
  background-color: #adacac;
  background-image: url('/images/honey_im_subtle.png');
  color: #969696;
  font: 300 14px/20px 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
}

strong {
  font-weight: 700;
}

p {
  margin-bottom: 20px;
}

input, textarea {
  border-radius: 0 !important;
  outline: none !important;
  -webkit-appearance: none;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  color: #535151;
  font-family: 'Economica', sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
  outline: none;
  transition: 0.5s ease;
  -o-transition: 0.5s ease;
  -webkit-transition: 0.5s ease;
}

a:hover, a:visited {
  text-decoration: none;
  color: inherit;
}

button {
  border-radius: 0 !important;
}

.root {
  position: relative;
}

/****Home****/
.home {
  position: relative;
  top: -7.2rem;
  margin-bottom: -7.2rem;
  height: 92vh;
  overflow: hidden;
}

.home .flex-container {
  display: flex;
  align-items: stretch;
  overflow: hidden;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.home .flex-item {
  flex: 1 1 0;
  height: 100vh;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: luminosity;
  transition: all 0.35s;
}

.home .flex-item:hover {
  flex-grow: 3 !important;
  height: 110vh;
  transition: all 0.35s;
}

.home .flex-item h1 {
  color: rgba(255,255,255,0.9);
  text-align: left;
  transform: translateX(0%);
  font-size: 36px;
  transition: all 0.35s;
}

.home .flex-item li {
  background-color: rgba(0,0,0,0.65);
  padding: 0.5rem 1.5rem;
  transition: all 0.35s;
}

.home .flex-item:hover li {
  background: rgba(255,255,255,0.65);
  padding: 1rem;
  transition: all 0.35s;
}

.home .flex-item:hover h1 {
  color: rgba(0,0,0,0.9);
  font-size: 48px;
  transform: translateX(40%);
  transition: all 0.35s;
}

.home .flex-item.entree {
  flex-grow: 1.2;
  background-image: url('https://firebasestorage.googleapis.com/v0/b/cibus-aurelius.appspot.com/o/images%2Fpasta-fresca-with-chicken.jpeg?alt=media');
  background-color: #f7ff33;
  background-blend-mode: multiply;
  transition: all 0.35s;
}

.home .flex-item.light {
  background-image: url('https://firebasestorage.googleapis.com/v0/b/cibus-aurelius.appspot.com/o/images%2Ffresh-froot.jpeg?alt=media');
  background-color: #ffce00;
  transition: all 0.35s;
}

.home .flex-item.dessert {
  background-image: url('https://firebasestorage.googleapis.com/v0/b/cibus-aurelius.appspot.com/o/images%2Fwarm-creme-brulee.jpeg?alt=media');
  background-position: 90% 50%;
  background-color: #f7b733;
  transition: all 0.35s;
}

.home .flex-item.entree:hover, .home .flex-item.light:hover, .home .flex-item.dessert:hover {
  background-color: transparent;
  background-position: 50% 50%;
  background-blend-mode: none;
  filter: saturate(100%);
  transition: all 0.35s;
}

/****Home Media Queries****/
/* Show vertical for > Medium */
@media (min-width: 992px) {
  .home .flex-container {
    flex-direction: row;
  }
}

/* Show vertical for < Medium */
@media (max-width: 991px) {
  .home {
    top: -7.2rem;
    margin-bottom: -3.5rem;
    min-height: 100vh;
    overflow: visible;
  }

  .home .flex-container {
    flex-direction: column;
    overflow: visible;
  } 

  .home .flex-item {
    min-height: 34.5vh;
  }

  .home .flex-item h1 {
    font-size: 6vw;
  }
}


/****Menu Cards****/
.menu-card {
  background-color: #f1f0f1;
  margin-bottom: 29px;
  box-sizing: border-box;
  overflow: hidden;
  box-shadow: 2px 2px rgba(0,0,0,0.075);
}

.menu-card.content {
  max-width: 1000px;
  margin: 0 auto;
}

.menu-card .bottom {
  padding: 10px 20px;
  background: #f1f0f1;
  box-sizing: border-box;
  position: relative;
  border-right: 1px solid rgba(255,255,255,1);
  border-bottom: 1px solid rgba(255,255,255,1);
  border-left: 1px solid rgba(255,255,255,1);
}

.menu-card .bottom .btn {
  position: relative;
  top: 1px;
}

.menu-card .prep-time {
}

.menu-card .options {
  float: right;
  display: inline-block;
}

.nolist {
  list-style: none;
}

.navbar {
  border-radius: 0;
  background: transparent url('/images/dark_matter.png');
  box-shadow: 0 3px 1px 1px rgba(0,0,0,0.1);
}

.navbar-inverse .navbar-brand {
  color: rgb(207, 207, 207);
}

.navbar-inverse .navbar-brand span.title {
  vertical-align: super;
  text-decoration: none;
}

.navbar-inverse .navbar-brand:hover, .navbar-inverse .navbar-brand:visited,{
  color: #fff;
  text-decoration: none;
}

.navbar-inverse .navbar-brand .glyphicon {
  font-size: 2.5rem;
  margin-right: 1rem;
  vertical-align: top;
  position: relative;
  top: -0.25rem;
}

/**Footer**/
footer {
  position: relative;
  display: block;
  padding: 50px 0 40px;
  color: #e2e2e2;
  font-size: 14px;
  line-height: 18px;
}

footer hr {
  position: absolute;
  width: 100%;
  border-top: 1px solid rgba(0,0,0,0.125);
  box-shadow: 0 1px rgba(255,255,255,0.8);
  top: 4rem;
}

.copyright {
  font-weight: normal;
  text-align: center;
}

.copyright div {
  padding-top: 6px;
}

.copyright-year {
  color: rgb(207, 207, 207);
  padding: 2rem;
  box-shadow: 1px 1px rgba(0,0,0,0.1);
  background: #000 url('/images/dark_matter.png');
  border-right: 1px solid rgba(255,255,255,0.8);
  border-bottom: 1px solid rgba(255,255,255,0.8);
}

/**Transitions**/
.content-appear {
  transition: all 1s;
  transform: translateY(4rem);
  opacity: 0;
}

.content-appear.content-appear-active {
  transition: all 1s;
  transform: translateY(0);
  opacity: 1;
}

.content-leave {
  transition: all 1s;
  transform: translateY(0);
  opacity: 1;
}

.content-leave.content-leave-active {
  transition: all 1s;
  transform: translateY(4rem);
  opacity: 0;
}

@media (min-width: 576px) and (max-width: 767px) {
  .col-xs-12 {
    width: 50%;
  }
}

.menu-card .featured, .menu-card .single {
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transition: max-height 0.5s, opacity 1s;
}

.menu-card .featured.show, .menu-card .single.show {
  max-height: 1000px;
  opacity: 1;
  filter: blur(0px);
  transition: max-height 0.5s, opacity 1s, filter 0.1s;
}

.menu-card .featured.loading {
  min-height: 235px;
  max-height: 1000px;
  opacity: 1;
  background: url('/images/menu-card-blurred.jpg');
  background-size: cover;
  filter: blur(30px);
  transition: max-height 0.5s, opacity 1s, filter 0.05s;
}

.menu-card .single.loading {
  min-height: 654px;
  max-height: 1000px;
  opacity: 1;
  background: url('/images/menu-card-blurred.jpg');
  background-size: cover;
  filter: blur(30px);
  transition: max-height 0.5s, opacity 1s, filter 0.05s;
}

.menu-card button.delete, .menu-card button.edit {
  font-family: 'Open Sans', sans-serif;
  background-color: transparent;
  float: right;
  border-width: 2px;
}

.menu-card button.delete {
  color: #d9534f;
}

.menu-card button.delete:hover {
  color: #c9302c;
}

.menu-card button.delete:active {
  color: #fff;
}

.menu-card button.edit { 
  color: #333;
}


/* New Item */
.form-group input[type=file] {
    background: #fff;
    width: 100%;
    padding: 1rem;
    border: 1px solid #ccc;
}

.form-group.has-error input[type=file] {
    background: #fff;
    width: 100%;
    padding: 1rem;
    border-color: #a94442;
}

.hide {
  display: none;
}