@import url(//fonts.googleapis.com/css?family=Economica:400);
@import url(//fonts.googleapis.com/css?family=Economica:700);
@import url(//fonts.googleapis.com/css?family=Open+Sans:300);
@import url(//fonts.googleapis.com/css?family=Open+Sans:400);
@import url(//fonts.googleapis.com/css?family=Open+Sans:600);
@import url(//fonts.googleapis.com/css?family=Open+Sans:700);
/*@import url(//fonts.googleapis.com/css?family=Dosis);*/

html {
  width: 100%;
}

* {
  -webkit-text-size-adjust: none;
}

body {
  position: relative;
  background-color: #adacac;
  background-image: url('/images/honey_im_subtle.png');
  color: #969696;
  font: 300 14px/20px 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
}

strong {
  font-weight: 700;
}

p {
  margin-bottom: 20px;
}

input, textarea {
  border-radius: 0 !important;
  outline: none !important;
  -webkit-appearance: none;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  color: #535151;
  font-family: 'Economica', sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
  outline: none;
  transition: 0.5s ease;
  -o-transition: 0.5s ease;
  -webkit-transition: 0.5s ease;
}

a:hover, a:visited {
  text-decoration: none;
  color: inherit;
}

/****Menu Cards****/
.menu-card {
  background-color: #f1f0f1;
  margin-bottom: 29px;
  box-sizing: border-box;
  overflow: hidden;
  box-shadow: 2px 2px rgba(0,0,0,0.075);
}

.menu-card.content {
  max-width: 1000px;
  margin: 0 auto;
}

.menu-card .bottom {
  padding: 10px 20px;
  background: #f1f0f1;
  box-sizing: border-box;
  position: relative;
  border-right: 1px solid rgba(255,255,255,1);
  border-bottom: 1px solid rgba(255,255,255,1);
  border-left: 1px solid rgba(255,255,255,1);
}

.menu-card .bottom .btn {
  position: relative;
  top: 1px;
}

.menu-card .prep-time {
}

.menu-card .options {
  float: right;
  display: inline-block;
}

.nolist {
  list-style: none;
}

.navbar {
  border-radius: 0;
  background: transparent url('/images/dark_matter.png');
  box-shadow: 0 3px 1px 1px rgba(0,0,0,0.1);
}

.navbar-inverse .navbar-brand {
  color: rgb(207, 207, 207);
}

.navbar-inverse .navbar-brand span.title {
  vertical-align: super;
  text-decoration: none;
}

.navbar-inverse .navbar-brand:hover, .navbar-inverse .navbar-brand:visited,{
  color: #fff;
  text-decoration: none;
}

.navbar-inverse .navbar-brand .glyphicon {
  font-size: 2.5rem;
  margin-right: 1rem;
  vertical-align: top;
  position: relative;
  top: -0.25rem;
}

/**Footer**/
#footer {
  display: block;
  padding: 50px 0 40px;
  color: #e2e2e2;
  font-size: 14px;
  line-height: 18px;
}

.copyright {
  font-weight: normal;
  text-align: center;
}

.copyright div {
  padding-top: 6px;
}

.copyright-year {
  padding: 2rem;
  background-color: #000;
}

/**Transitions**/
.content-appear {
  transition: all 1s;
  transform: translateY(4rem);
  opacity: 0;
}

.content-appear.content-appear-active {
  transition: all 1s;
  transform: translateY(0);
  opacity: 1;
}

.content-leave {
  transition: all 1s;
  transform: translateY(0);
  opacity: 1;
}

.content-leave.content-leave-active {
  transition: all 1s;
  transform: translateY(4rem);
  opacity: 0;
}

@media (min-width: 576px) and (max-width: 767px) {
  .col-xs-12 {
    width: 50%;
  }
}

.menu-card .featured, .menu-card .single {
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transition: max-height 0.5s, opacity 1s;
}

.menu-card .featured.show, .menu-card .single.show {
  max-height: 1000px;
  opacity: 1;
  filter: blur(0px);
  transition: max-height 0.5s, opacity 1s, filter 0.1s;
}

.menu-card .featured.loading {
  min-height: 235px;
  max-height: 1000px;
  opacity: 1;
  background: url('/images/menu-card-blurred.jpg');
  background-size: cover;
  filter: blur(30px);
  transition: max-height 0.5s, opacity 1s, filter 0.05s;
}

.menu-card .single.loading {
  min-height: 654px;
  max-height: 1000px;
  opacity: 1;
  background: url('/images/menu-card-blurred.jpg');
  background-size: cover;
  filter: blur(30px);
  transition: max-height 0.5s, opacity 1s, filter 0.05s;
}

/* New Item */
.form-group input[type=file] {
    background: #fff;
    width: 100%;
    padding: 1rem;
    border: 1px solid #ccc;
}

.form-group.has-error input[type=file] {
    background: #fff;
    width: 100%;
    padding: 1rem;
    border-color: #a94442;
}