@import url(//fonts.googleapis.com/css?family=Economica:400);
@import url(//fonts.googleapis.com/css?family=Economica:700);
@import url(//fonts.googleapis.com/css?family=Open+Sans:300);
@import url(//fonts.googleapis.com/css?family=Open+Sans:400);
@import url(//fonts.googleapis.com/css?family=Open+Sans:600);
@import url(//fonts.googleapis.com/css?family=Open+Sans:700);


@import url(//fonts.googleapis.com/css?family=Dosis);

html {
    width: 100%;
}
a[href^="tel:"] {
 color: inherit;
 text-decoration: none;
}

* {
    -webkit-text-size-adjust: none;
}

body {
    position: relative;
    background-color: #adacac;
    color: #969696;
    font: 300 14px/20px 'Open Sans', sans-serif;
}

.ic {
	border:0;
	float:right;
	background:#fff;
	color:#f00;
	width:50%;
	line-height:10px;
	font-size:10px;
	margin:-220% 0 0 0;
	overflow:hidden;
	padding:0
}

strong {
    font-weight: 700;
}

address {
    font-style: normal;
}

p {
    margin-bottom: 20px;
}

input, textarea {
    border-radius: 0 !important;
    outline: none !important;
    -webkit-appearance: none;
}

/****Heads****/
h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
    color: #535151;
    font-family: 'Economica', sans-serif;
}

/****Links****/
a {
    text-decoration: none;
    color: inherit;
    outline: none;
    transition: 0.5s ease;
    -o-transition: 0.5s ease;
    -webkit-transition: 0.5s ease;
}

a:hover {
    color: #aaccaa;
}

.btn {
    display: inline-block;
    border: 1px solid #969696;
    color: #969696;
    margin-top: 24px;
    padding: 5px 32px 11px;
    font: bold 20px/20px 'Economica', sans-serif;
}

.btn:hover {
    color: #fff;
    border-color: #aaccaa;
    background-color: #aaccaa;
}

.link1 {
    margin-top: 29px;
    display: block;
    float: right;
    color: #fff;
    background-color: #2e2d2d;
    font-size: 24px;
    line-height: 36px;
    width: 36px;
    height: 36px;
    text-align: center;
    font-weight: bold;
    margin-bottom: 55px;
}

.link1:hover {
    background-color: #aaccaa;
    color: #fff;
}


/****Menu Cards****/

.menu-card {
    background-color: #f1f0f1;
    margin-bottom: 29px;
    box-sizing: border-box;
}

.menu-card .bottom {
    padding: 10px 20px;
    background: #f1f0f1;
    box-sizing: border-box;
    position: relative;
    min-height: 180px;
}

.menu-card .bottom .btn {
    position: relative;
    top: 1px;
}

.menu-card .prep-time {
}

.menu-card .options {
    float: right;
    display: inline-block;
}

.nolist {
  list-style: none;
}

/**Footer**/

#footer {
    display: block;
    padding: 50px 0 40px;
    color: #e2e2e2;
    font-size: 14px;
    line-height: 18px;
}

.copyright {
    font-weight: normal;
    float: left;
}

.copyright div {
    padding-top: 6px;
}

.copyright div a:hover {
    color: #535a5f;
}

#toTop {
    display: none;
    text-decoration: none;
    position: fixed;
    bottom: 40px;
    left: 51%;
    margin-left: 640px;
    overflow: hidden;
    width: 43px;
    height: 28px;
    border: none;
    text-indent: -999px;
    z-index: 20;
    background: url(../public/images/totop.png) no-repeat left 0; 
    transition: 0s ease;
    -o-transition: 0s ease;
    -webkit-transition: 0s ease;
}
#toTop:hover {
    outline: none;
    background-position: right 0;
}

